In [1]:
import numpy as np
import pandas as pd
import ast
from collections import Counter
import itertools
from itertools import combinations

In [2]:
dat = pd.read_csv("yelp_boston.csv")
dat = dat.dropna().reset_index()
print(dat.shape)

(266, 12)

In [3]:
dat["neighborhood"].unique()

array(['Financial District', 'North End', 'Waterfront', 'East Boston',
       'Downtown', 'South End', 'Beacon Hill', 'Back Bay', 'South Boston',
       'Chinatown', 'Allston/Brighton', 'Charlestown',
       'Kendall Square/MIT', 'Dorchester', 'Teele Square',
       'Jamaica Plain', 'Inman Square', 'Harvard Square', 'Fenway',
       'Mission Hill', 'Porter Square', 'North Cambridge', 'West Roxbury',
       'Coolidge Corner'], dtype=object)

In [4]:
print(len(dat["search category"].unique()))
dat["search category"].value_counts()

18

search category
pizza            20
newamerican      17
sandwiches       17
italian          17
japanese         17
restaurants      16
mexican          16
vietnamese       16
bakeries         16
chinese          16
coffee           16
sushi            16
cafes            16
indpak           12
french           11
thai              9
donuts            9
ethnicmarkets     9
Name: count, dtype: int64

In [5]:
dat['categories_json'] = dat['categories_json'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
dat['categories_json'] = dat['categories_json'].apply(lambda lst: [item[0] for item in lst])
max_categories = max(dat['categories_json'].apply(len))
for i in range(max_categories):
    dat[f'category{i+1}'] = dat['categories_json'].apply(lambda x: x[i] if i < len(x) else None)
dat = dat.drop(columns=['categories_json'])

In [6]:
columns_except_category = [col for col in dat.columns if col != "search category"]
new_dat = pd.DataFrame(columns=columns_except_category + ["search category1", "search category2", "search category3"])

for n in dat["name"].unique():
    d = dat[dat["name"] == n]
    unique_categories = d["search category"].unique().tolist()
    
    while len(unique_categories) < 3:
        unique_categories += [None, None]

    unique_categories = unique_categories[:3]
    row = d.iloc[0][columns_except_category].tolist() + unique_categories
    new_dat.loc[len(new_dat)] = row

dat = new_dat

In [7]:
category_counts = dat[["search category1", "search category2", "search category3"]].stack().value_counts()
print(category_counts)

pizza            19
japanese         17
italian          17
newamerican      17
sandwiches       17
restaurants      16
bakeries         16
mexican          16
chinese          16
sushi            16
cafes            15
coffee           15
vietnamese       14
indpak           12
french           11
thai              9
ethnicmarkets     9
donuts            8
Name: count, dtype: int64

In [ ]:
categories = pd.unique(dat[["search category1", "search category2", "search category3"]].values.ravel())
categories = [cat for cat in categories if pd.notna(cat)]
# Create a dictionary to store category occurrences
category_dict = {category: set(dat.index[dat.isin([category]).any(axis=1)]) for category in categories}
minor_cats = []

# Calculate and print overlap percentages
for cat1, cat2 in combinations(categories, 2):
    set1 = category_dict[cat1]
    set2 = category_dict[cat2]
    
    percentage1 = len(set1 & set2) / len(set1) * 100
    percentage2 = len(set1 & set2) / len(set2) * 100
    if percentage1 > 50:
        minor_cats += [cat1]
        print(f"Percentage of rows in {cat1} that also has {cat2}: {percentage1:.2f}%")
    if percentage2 > 50:
        minor_cats += [cat2]
        print(f"Percentage of rows in {cat2} that also has {cat1}: {percentage2:.2f}%")

In [ ]:
# Flatten all categories into a single list
all_categories = pd.unique(dat[["search category1", "search category2", "search category3"]].values.ravel())
all_categories = [cat for cat in all_categories if pd.notna(cat)]  # Remove NaN values

# Dictionary to store counts
category_counts = {}

# Iterate over unique categories
for category in all_categories:
    # Find rows where the category appears
    mask = (dat["search category1"] == category) | (dat["search category2"] == category) | (dat["search category3"] == category)
    
    # Count rows where only one category is non-null
    single_category_count = dat[mask].dropna(subset=["search category2", "search category3"], how='any').shape[0]
    
    category_counts[category] = single_category_count

# Print results
for category, count in category_counts.items():
    print(f"{category}: {count}")

In [ ]:
# Filter rows where any category column contains "Bubble Tea"
bubble_tea_rows = dat[
    dat[["search category1", "search category2", "search category3"]].isin(["sushi"]).any(axis=1)
]

# Display the result
print(bubble_tea_rows)

In [ ]:
dat_pivoted = dat.groupby(dat.columns.difference(['search category']).tolist()) \
                 .agg({'search category': list}) \
                 .reset_index()

# Step 2: Expand search categories into multiple columns dynamically
max_categories = dat_pivoted['search category'].apply(len).max()  # Find max categories in a row

# Create new category columns dynamically
category_cols = [f'search_category{i+1}' for i in range(max_categories)]
dat_pivoted[category_cols] = pd.DataFrame(dat_pivoted['search category'].apply(lambda x: x + [None] * (max_categories - len(x))).tolist())

# Drop the original list column
dat_pivoted.drop(columns=['search category'], inplace=True)
dat_pivoted["name"].value_counts()

In [ ]:
dat[dat["search category"] == "restaurants"]

In [ ]:
print(dat["rating"].min())
print(dat["rating"].max())

In [ ]:
dat['categories_json']

In [ ]:
dat

In [ ]:
dat.columns

In [ ]:
dat.to_json("bgg_dataset_cleaned.json", orient="records", indent=4)

In [ ]:
len(dat[["category1", "category2", "category3", "category4"]].drop_duplicates())

In [ ]:
category_counts = dat[["category1", "category2", "category3", "category4"]].stack().value_counts()
print(category_counts[0:20])

In [ ]:
categories = pd.unique(dat[["category1", "category2", "category3", "category4"]].values.ravel())
categories = [cat for cat in categories if pd.notna(cat)]
# Create a dictionary to store category occurrences
category_dict = {category: set(dat.index[dat.isin([category]).any(axis=1)]) for category in categories}
minor_cats = []

# Calculate and print overlap percentages
for cat1, cat2 in combinations(categories, 2):
    set1 = category_dict[cat1]
    set2 = category_dict[cat2]
    
    percentage1 = len(set1 & set2) / len(set1) * 100
    percentage2 = len(set1 & set2) / len(set2) * 100
    if percentage1 > 60:
        minor_cats += [cat1]
        print(f"Percentage of rows in {cat1} that also has {cat2}: {percentage1:.2f}%")
    if percentage2 > 60:
        minor_cats += [cat2]
        print(f"Percentage of rows in {cat2} that also has {cat1}: {percentage2:.2f}%")

In [ ]:
minor_cats

In [ ]:
minor_cats

In [ ]:
minor_categories = category_counts[category_counts < 10].index.tolist()
minor_cats = list(set(minor_cats + minor_categories))

In [ ]:
len(pd.Series(categories)[~pd.Series(categories).isin(minor_cats)])

In [ ]:
pd.Series(categories)[~pd.Series(categories).isin(minor_cats)]

In [ ]:
mask = ~dat[['category1', 'category2', 'category3', 'category4']].isin(minor_cats).any(axis=1)
num_rows = mask.sum()
print(num_rows)

In [ ]:
# Filter rows where any category column contains "Bubble Tea"
bubble_tea_rows = dat[
    dat[["category1", "category2", "category3", "category4"]].isin(["Bubble Tea"]).any(axis=1)
]

# Display the result
print(bubble_tea_rows)

In [ ]:
dat["search category"].value_counts()